<!--
  ~ Copyright (c) 2017. 深圳掌控网络有限公司. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.suozhang.umeng">

    <application >
        <!--新浪微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
